{% extends 'tplt_init.html'%}
{% load static %}

{% block css %}
{% endblock%}

<!-- #body内容 -->
{%block bodyContent%}
<title>{{title}}</title>
<!-- Navbar -->
{% include "navbar.html" %}
<!--  -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div><h2>导航栏</h2></div>
            <ul>
                <li><a href="{% url 'demo:navbar1' %}">navbar1</a></li>
                <li><a href="{% url 'demo:navbar2' %}">navbar2</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>测试</h1>
            <ul>
                <li><a href="{% url 'demo:test1' %}">test1</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock%}