{% extends 'tplt_init.html'%}
{% load static %}

{% block css %}
{% endblock%}
{% block js %}
<script>
    /* global bootstrap: false */
    (() => {
        'use strict'
        const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(tooltipTriggerEl => {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>
{% endblock %}

<!-- #body内容 -->
{%block bodyContent%}
<title>{{title}}</title>
<!-- Navbar -->
{% include "navbar.html" %}

<!-- 侧边栏 -->
<div class="container m-0 p-0">
    <div class="row">
        <div class="col-sm-3">
            <div class="flex-shrink-0 p-3 bg-white">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi pe-none me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">Collapsible</span>
                </a>
                <ul class="list-unstyled ">
                    <li class="mb-1">
                        
                        <!-- <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                            Home
                        </button> -->
                        <div class="m-0 p-0 btn btn-toggle d-inline-flex  rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse">Home
                            
                        </div>
                        <div class="collapse show ps-2 " id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#"
                                        class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a>
                                </li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn p-0  btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                            Dashboard
                        </button>
                        <div class="collapse ps-2" id="dashboard-collapse">
                            <ul class="btn-toggle-nav  list-unstyled fw-normal pb-1 small">
                                <li><a href="#"
                                        class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a>
                                </li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a>
                                </li>
                                <li><a href="#"
                                        class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn p-0  btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                            Orders
                        </button>
                        <div class="collapse ps-2" id="orders-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a>
                                </li>
                                <li><a href="#"
                                        class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a>
                                </li>
                                <li><a href="#"
                                        class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn p-0 btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            Account
                        </button>
                        <div class="collapse ps-2" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a>
                                </li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a>
                                </li>
                                <li><a href="#"
                                        class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign
                                        out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-9">
            <!-- 内容 -->
            <div class="container m-0 p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>导航栏</h2>
                        </div>
                        <ul>
                            <li><a href="{% url 'demo:navbar1' %}">navbar1</a></li>
                            <li><a href="{% url 'demo:navbar2' %}">navbar2</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>测试</h1>
                        <ul>
                            <li><a href="{% url 'demo:test1' %}">test1</a></li>
                        </ul>
                        <ul>
                            <li><a href="{% url 'demo:test2' %}">test2</a></li>
                        </ul>
                        <ul>
                            <li><a href="{% url 'demo:test3' %}">test3：本文截断</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>其他</h1>
                        <ul>
                            <li><a href="{% url 'polls:index' %}">polls</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>常规网页效果</h1>
                        <h2>标签跟随滚动</h2>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



{% endblock%}