{% extends 'tplt_init.html'%}
{% load static %}

{% block css %}
{% endblock%}
{% block js %}
<script>
    /* global bootstrap: false */
    (() => {
        'use strict'
        const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(tooltipTriggerEl => {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>
{% endblock %}

<!-- #body内容 -->
{%block bodyContent%}
<title>{{title}}</title>
<!-- Navbar -->
{% include "navbar.html" %}

<!-- 侧边栏 -->
<div class="container ">
    <div class="row">

        <div class="col-md-12">
            <!-- 内容 -->
            <div class="container m-0 p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>导航栏</h2>
                        </div>
                        <ul>
                            <li><a href="{% url 'demo:navbar1' %}">navbar1</a></li>
                            <li><a href="{% url 'demo:navbar2' %}">navbar2</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>测试</h1>
                        <ul>
                            <li><a href="{% url 'demo:test1' %}">test1</a></li>
                        </ul>
                        <ul>
                            <li><a href="{% url 'demo:test2' %}">test2</a></li>
                        </ul>
                        <ul>
                            <li><a href="{% url 'demo:test3' %}">test3：本文截断</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>其他</h1>
                        <ul>
                            <li><a href="{% url 'polls:index' %}">polls</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>常规网页效果</h1>
                        <h2>标签跟随滚动</h2>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



{% endblock%}