{%extends 'tplt_init.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{%static 'css/disable_scrollbar.css'%}">
<style>
    #topSection {
        /* # 首页大图 */
        background-image: url("{% static 'img/secery.jpg' %}");
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
    }
</style>
<!-- /* 按钮特效样式 */ -->
<style>
    .vfx1 a,
    .vfx1 a::after {
        /* padding: 16px 20px; */
        /* font-size: 18px; */
        /* background: linear-gradient(45deg, transparent 5%, #ff013c00 5%); */
        /* border: 0; */
        /* color: #fff; */
        letter-spacing: 3px;
        /* line-height: 1; */
        /* box-shadow: 6px 0px 0px #00e6f6; */
        outline: transparent;
        position: relative;
    }

    .vfx1 a::after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: "HOVER ME";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff080800 5%);
        text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
        clip-path: var(--slice-0);
    }

    .vfx1 a:hover::after{
        animation: 0.8s glitch;
        animation-timing-function: steps(2, end);
    }

    @keyframes glitch {
        0% {
            clip-path: var(--slice-1);
            transform: translate(-10px, -10px);
        }

        10% {
            clip-path: var(--slice-3);
            transform: translate(10px, 10px);
        }

        20% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 10px);
        }

        30% {
            clip-path: var(--slice-3);
            transform: translate(0px, 5px);
        }

        40% {
            clip-path: var(--slice-2);
            transform: translate(-5px, 0px);
        }

        50% {
            clip-path: var(--slice-3);
            transform: translate(5px, 0px);
        }

        60% {
            clip-path: var(--slice-4);
            transform: translate(5px, 10px);
        }

        70% {
            clip-path: var(--slice-2);
            transform: translate(-10px, 10px);
        }

        80% {
            clip-path: var(--slice-5);
            transform: translate(20px, -10px);
        }

        90% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 0px);
        }

        100% {
            clip-path: var(--slice-1);
            transform: translate(0);
        }
    }
</style>

{% endblock %}

{% block js %}
<script>
    // 添加的东西只在当前页面有
    // 添加类：控制导航栏粘滞在顶部
    var navbar = document.getElementById("navbar");  // 获取到该标签的DOM对象
    navbar.classList.add("sticky-top");              // 添加类：使用DOM对象的 classList 属性的 add() 方法来添加类名
    // 为本页的导航栏 添加属性
    navbar.setAttribute('data-bs-spy', 'scroll');
    navbar.setAttribute('data-bs-target', '#navbar-example');
</script>

<!-- 配置首页 (自适应)首页第一部分的高度 = 首图高度 + 导航栏 -->
<script>
    sectionHeight()
    $(window).resize( function  () {
        // 当网页变化时，修改标签高度
        sectionHeight()
    });

    function sectionHeight(){
        // 获取对象
        let topSection=$("#topSection");
        let navbar1=$("#navbar");

        // 获取 对象|标签 高度
        var windowHeight = $(window).height();
        let topUnitHeight = (topSection.outerHeight(true));
        let navbarHeight = (navbar1.outerHeight(true));
        // console.log(topUnitHeight, navbarHeight, windowHeight)

        // 设置标签高度
        $("#topSection").height(windowHeight-navbarHeight);
    }
</script>


{% endblock %}

<!-- #body内容 -->
{% block bodyContent %}
<title>{{title}}</title>

<!-- 首图 -->
<section id="topSection" class="spotlight parallax bg-cover bg-size--cover position-relative" data-spotlight="fullscreen">
    <span class="mask bg-primary alpha-7 "></span>
    <div class="spotlight-holder py-lg pt-lg-xl ">
        <div class="container-fult d-flex align-items-center no-padding" id="topunit1">
            <div class="col">
                <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
                    <div class="col-7">
                        <div class="text-center mt-5">
                            <img src="{% static 'img/w-logo.svg' %}" style="width: 200px;" class="img-fluid animated"
                                data-animation-in="jackInTheBox" data-animation-delay="1000">
                            <h2 class="heading display-4 font-weight-400 text-white mt-5 animated"
                                data-animation-in="fadeInUp" data-animation-delay="2000">
                                <span class="font-weight-700 text-info">Qusay</span> Site
                            </h2>
                            <p class="lead text-white mt-3 lh-180 c-white animated" data-animation-in="fadeInUp"
                                data-animation-delay="2500">
                                welcome <strong class="text-primary"">(๑‾ ꇴ ‾๑)</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 导航栏 -->
{% include 'navbar.html' %}



<!-- 页尾 -->
{% include 'footer.html' %}
{% endblock %}