{%extends 'tplt_init_bootstrap.html'%}
{% load static %}

<!-- #body内容 -->
{% block bodyContent %}

{% comment %} 导航栏 {% endcomment %}
{% include "navbar.html" %}

<div class="container">
    <div class="row mt-2">
        <div class="col-md-10">
            <h3>标题</h3>
            <div class="sticky-sm-top">Stick to the top on viewports sized SM (small) or wider</div>
            <hr style="height: 5000px;">
        </div>
        <div class="col md-2">2</div>
    </div>
</div>


{% endblock %}
