{%extends 'tplt_init_bootstrap.html'%}
{% block js %}
{% endblock %}
{% block css %}
{% endblock %}

{%block bodyContent %}
<title>Demo UploadFile</title>
<!-- Navbar -->
{% include "tplt_navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <!-- <label for="" class="form-label">Name</label> -->
                  <!-- <input type="text" name="file_info" id="" class="form-control" placeholder="" aria-describedby="helpId"> -->
                  
                  <label for="" class="form-label">Choose file</label>
                  <small id="helpId" class="text-muted m-2">文件保存路径:/www/django_www/tmp/</small>
                  <input type="file" class="form-control mb-2" name="file" id="" placeholder="" aria-describedby="fileHelpId">
                  <!-- <div id="fileHelpId" class="form-text">Help text</div> -->

                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

