{%extends 'tplt_init_bootstrap.html'%}

{% block css %}
<style>
    a{
        text-decoration: none;
    }
</style>
{% endblock %}

{%block bodyContent %}
<title>Index</title>
<!-- Navbar -->
{% include "tplt_navbar.html" %}

<div class="container">
    <!-- http://qwertyui.vip:22280/music/list/ -->
    <div>
        <h4>可用页面</h4>
        <div><p><a href="/music/list/" target="_blank"> 我喜欢的音乐列表</a></p></div>
        <div><p><a href="/lifelog/" target="_blank">时间记录</a></p></div>
        <div><p><a href="/admin/" target="_blank">admin管理</a></p></div>

    </div>
    
    <hr>
    
    <div>
        <h4>Demo</h4>
    </div>

    <div class="container">
        <h5>Web 学习</h5>
        <div class="row">
            <div class="col-md-6">
                <h6>Bootstrap</h6>
                <p><a href="/learn/bootstrap/01/">学习Bootstrap01：</a></p>
                <p><a href="/learn/bootstrap/02/">学习Bootstrap02：</a></p>
                <p><a href="/learn/bootstrap/03/">学习Bootstrap03：</a></p>
                <p><a href="/learn/bootstrap/04/">学习Bootstrap04：时间插件</a></p>
                <p><a href="/learn/bootstrap/05/">学习Bootstrap05：</a></p>
                
                <hr>
            </div>
            <!-- <div class="col-md-6">2</div> -->
        </div>
        <div class="row">
           
            <div class="col-md-6">
                <h6>JavaScript</h6>
                <p><a href="/learn/js/01/">学习JS_01</a></p>
                <p><a href="/learn/js/02/" target="_blank">学习JS_02</a></p>
                <p><a href="/learn/js/03/" target="_blank">学习JS_03</a></p>
                <p><a href="/learn/js/04/" target="_blank">学习JS_04：事件绑定:点击按钮弹出弹窗警告(三种方式)</a></p>
            </div>
            <div class="col-md-6">
                <h6>React</h6>
                <p><a href="/learn/react/01/" target="_blank">学习Reacrt1：引入react，并显示在页面</a></p>
                <p><a href="/learn/react/02/" target="_blank">学习Reacrt2：虚拟DOM与真实DOM</a></p>
                <p><a href="/learn/react/03/" target="_blank">学习Reacrt3：JSX语法规则</a></p>
                <p><a href="/learn/react/04/" target="_blank">学习Reacrt4：JSX小练习</a></p>
                <p><a href="/learn/react/05/" target="_blank">学习Reacrt5：函数式组件</a></p>
                <p><a href="/learn/react/06/" target="_blank">学习Reacrt6：类式组件</a></p>
                <p><a href="/learn/react/07/" target="_blank">学习Reacrt7：类式组件属性state</a></p>
                <p><a href="/learn/react/08/" target="_blank">学习Reacrt8：组件实例的三大核心属性：props</a></p>
                <p><a href="/learn/react/09/" target="_blank">学习Reacrt9：函数式组件的props</a></p>
                <p><a href="/learn/react/10/" target="_blank">学习Reacrt10：</a></p>
                <p><a href="/learn/react/11/" target="_blank">学习Reacrt11：</a></p>
                <p><a href="/learn/react/12/" target="_blank">学习Reacrt12：</a></p>
                <p><a href="/learn/react/13/" target="_blank">学习Reacrt13：</a></p>
                <p><a href="/learn/react/14/" target="_blank">学习Reacrt14：</a></p>
        
            </div>
        </div>

    </div>
    <div>
        
    </div>
    <hr>
    <div>
        <h4>test</h4>
        <p><a href="/demo/test/" target="_blank">test</a></p>
    </div>
    
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus necessitatibus tempore nihil adipisci
        minima, laborum facilis quisquam. Iusto consequuntur fugit nihil quaerat ipsam repellat, explicabo vel tenetur,
        molestias neque incidunt.</div>
    <div class="test"><a href=""><span id="001"></span></a></div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    

</div>
{% endblock %}