{%extends 'tplt_init_bootstrap.html'%}
{%load static%}

{%block bodyContent %}
<style>
  .custom-fs-small {
    font-size: 9px;
  }
  a {
    /* 超链接 样式 */
    text-decoration: none;
    color: black;
  }
  #log {
  /* 记录按钮 的位置设置  */
  margin-bottom: 30px;  /*底部距离*/
  z-index: 2;
  }

</style>
<style>
  
  .page-link {padding: 6px  7px}

</style>

<title>lifelog</title>

<div class="container position-relative">
  <!-- # 记录按钮 -->
  <div id="log" class="position-fixed bottom-0 start-50 translate-middle-x  rounded">
    <a href="/lifelog/log/">
      <button type="button" class="btn btn-outline-primary shadow mb-5">记录</button>
    </a>
  </div>

<div class="row pt-4">
  <div class="col-md-9">
        <!-- 占位 -->
  </div>

  <div class="col-md-3"> 
    <!-- 搜索框 -->
    <form action="" method="get">
        <div class="input-group mb-3">
          <input type="text" name="s" class="form-control" placeholder="Search" value="{{search_data}}">
          <button class="btn btn-primary" type="submit">
            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-search"></use></svg>
          </button>
        </div>
      </form>
  </div>
</div>
  <!-- # 内容 -->
  {% for item in queryset %}
  <div class="row  position-relative pt-2 pb-3 ">
    <div class="col-md-12" >
      <div class="custom-fs-small border-top rounded-0 border-primary list-group list-group-horizontal  position-absolute bg-white " style="left:30px;z-index:1;">
        <div class=" p-1 border border-end-0">{{item.addtime}}</div>
        <div class=" p-1 border">{{item.tag}}</div>
        <div class=" p-1 border">{{item.location_id}}</div>
        <div class=" p-1 border"><a href="/lifelog/edit/{{item.global_id}}/">编辑</a></div>
        <div class=" p-1 border bg-danger"><a href="/lifelog/del/{{ item.global_id }}/" class="">Del</a></div>
      </div>
      <!-- 内容 -->
      <div  class=" position-relative border-top border-start mt-3 p-2 pt-4 shadow-sm" >
        <div class="">{{item.content}}</div>
        <span class="custom-fs-small mx-2 mb-1 position-absolute bottom-0 end-0 badge bg-info shadow-sm">{{item.weather}}</span>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10">
          <nav class="d-flex justify-content-end">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="?page=1">
                  {% comment %} <span aria-hidden="true">&laquo;</span> {% endcomment %}
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-arrow-double-left"></use>
                </svg>
                </a>
              </li>

              <li class="page-item">
                <a class="page-link" href="?page={{page_up}}" >
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-arrow-left-bold"></use>
                </svg>
                </a>
              </li>


              {{page_Num_HTML}}

              <li class="page-item">
                <a class="page-link" href="?page={{page_down}}" >
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-arrow-right-bold"></use>
                </svg>
                </a>
              </li>

              <li class="page-item">
                <a class="page-link" href="?page={{page_count}}" >
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-arrow-double-right"></use>
                </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <form action="" method="get" >
            <div class="input-group mb-3">
              <input type="text" name="page" class="form-control " placeholder="" value="">
              <button class="btn btn-secondary  px-1" type="submit">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-juli"></use></svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}