{% extends 'tplt_init_bootstrap.html'%}
{% load static %}

{%block js%}
<script type="text/javascript">
    $(function () {
        bindBtnAddEvent();
    })

    function bindBtnAddEvent() {
        $("#btnAdd").click(function () {
            // 修改内容之后，重置错误提示
            $(".error-status-false").empty()

            $.ajax({
                url: '/lifelog/v2/add/ajax/',
                type: "post",
                data: $("#formAdd").serialize(),
                dataType: "JSON",    // 将接收到的字符串类型的JSON数据 转换成 JSON数据类型
                success: function (res) {
                    // console.log(res);
                    // console.log(res.status);
                    if (res.status) {
                        // alert("添加成功")
                        // 添加成功之后 清除已输入的信息;$("#formAdd")是jquary对象; $("#formAdd")[0]是DOM对象，
                        $("#formAdd")[0].reset();
                        // 添加成功之后 关闭弹窗
                        $("#modalId").modal('hide');
                        // 刷新页面
                        location.reload();
                    } else {
                        // alert("添加失败")
                        $.each(res.errors, function (name, error) {
                            // console.log(name, error)
                            $("#id_" + name).next().text(error[0]);
                        })
                    }
                }
            })
        })
    }
</script>
{%endblock%}


{% block css %}
<style>

    a {
        text-decoration: none
    }
    </style>
{% endblock %}

<!-- #body内容 -->
{%block bodyContent%}

<title>lifelog v2</title>


<!-- Navbar -->
{% include "tplt_navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- modal弹窗按钮 -->
            <div>
                <!-- start -->
                <!-- Modal trigger button -->
                <!-- 按钮 -->
                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalId">
                    按钮(modal)
                </button>
                <!-- 弹出的对话框 -->
                <!-- Modal Body-->
                <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="modalTitleId">
                                    {{form_title}}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form action="" id="formAdd">
                                        <div class="row">
                                            {% for field in form %}
                                            <div class="col-6">
                                                <div class="form-group" style="position: relative; margin-top: 10px; ">
                                                    <label for="">{{field.label}}</label>
                                                    {{field}}
                                                    <span class="error-status-false form-text text-muted"
                                                        style="position: absolute;right: 0px; top: 29px;"></span>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" form="formAdd" id="btnAdd" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

            </div>

        </div>
    </div>
</div>


<div class="container">
    <!-- 新建与搜索框 -->
    <div class="row pt-4">

        <div class="col-md-3">
            <!-- 搜索框 -->
            <form action="" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="s" class="form-control" placeholder="Search" value="{{search_data}}">
                    <button class="btn btn-primary" type="submit">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- 内容  -->
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">时间</th>
                    <th scope="col">tag</th>
                    <th scope="col">地点</th>
                    <th scope="col">内容</th>
                    <th scope="col">天气</th>
                    <th scope="col">编辑</th>
                </tr>
            </thead>
            <tbody>
                {% for item in queryset%}
                <tr>
                    <!-- <th scope="row">{{ item.global_id }}</th> -->
                    <td>{{ item.addtime }}</td>
                    <td>{{ item.tag }}</td>
                    <td>{{ item.location_id }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.weather }}</td>
                    <td>
                        <a href="/lifelog/edit/{{item.global_id}}/"><span class="badge bg-primary mx-1">Edit</span></a>
                        <a href="/lifelog/v2/del/{{ item.global_id }}/">  <span class="badge bg-warning text-dark mx-1">Del</span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10">
                    <nav class="d-flex justify-content-end">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    {% comment %} <span aria-hidden="true">&laquo;</span> {% endcomment %}
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-double-left"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_up}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-left-bold"></use>
                                    </svg>
                                </a>
                            </li>


                            {{page_Num_HTML}}

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_down}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-right-bold"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_count}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-double-right"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    <form action="" method="get">
                        <div class="input-group mb-3">
                            <input type="text" name="page" class="form-control " placeholder="" value="">
                            <button class="btn btn-secondary  px-1" type="submit">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-juli"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}