{%extends 'tplt_init_bootstrap.html'%}

{%block bodyContent %}
<title>记录 Log</title>

<style>
.card {
  box-sizing: border-box;
  /* width: 100vh; */
  /* height: auto; */
  /* width: 300px; */
  max-width: 100vh;
  min-height: 80vh;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  /* text-align: center; */
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  /* font-weight: bolder; */

  margin:auto auto  /*块级元素 水平居中*/
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
</style>

<style>
    .czjz {
        /* 垂直居中 */
        display: flex;
        align-items: center;

    }
</style>

<div class="container" >
    <div class="row " style="height:100vh;"> 
        <div class="czjz col-md-12 w-100" >
            <div class="card w-100">
                <form id="in1" method="post" action="" class="px-4 w-100"> 
                    {% csrf_token %}
                    <div class="mb-3">
                        {% for field in form %}
                            <label for="exampleInputEmail1" class="form-label mt-2 mb-0">{{field.label}}</label>
                            {{field}}
                        {% endfor %}
                        <button form="in1" type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <form id="in1" method="post" action=""> -->
    <!-- {% csrf_token %}
    {% for field in form %}
        {{field.label}} : {{field}}
    {% endfor %} -->



{% endblock %}