{% extends 'tplt_init_bootstrap.html'%}
{% load static %}
{% block css %}
<style>
    a {
        text-decoration: none
    }
</style>

{% endblock%}
<!-- #body内容 -->
{%block bodyContent%}
<title>admin</title>

<!-- Navbar -->
{% include "tplt_navbar.html" %}

<div class="container">
    <!-- 新建与搜索框 -->
    <div class="row pt-4">
        <div class="col-md-9">

        </div>
        <div class="col-md-3">
            <!-- 搜索框 -->
            <form action="" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="s" class="form-control" placeholder="Search" value="{{search_data}}">
                    <button class="btn btn-primary" type="submit">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- 内容  -->
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-nowrap">编辑</th>
                    <!-- <th class="text-nowrap">序列号</th> -->
                    <th>歌名</th>
                    <th>歌手</th>
                    <th>标签</th>
                    <th>专辑</th>
                    <th>添加时间</th>
                    <!-- <th scope="col" class="text-nowrap">native_id</th> -->
                </tr>
            </thead>  
            <tbody>
                {% for item  in queryset %}
                <tr>
                    <td><a class="text-decoration-none" href="/music/list/edit/{{item.global_id}}/">修改</a></td>
                    <!-- <td class="table-info" >{{ forloop.revcounter }}</td> -->
                    <td>{{ item.song      }}</td>
                    <td>{{ item.songer    }}</td>
                    <td>{{ item.tag       }}</td>
                    <td>{{ item.album     }}</td>
                    <td>{{ item.addtime   }}</td>
                    <!-- <td class="">{{ item.native_id }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </table>
    </div>
    <!-- 分页 -->
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10">
                    <nav class="d-flex justify-content-end">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    {% comment %} <span aria-hidden="true">&laquo;</span> {% endcomment %}
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-double-left"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_up}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-left-bold"></use>
                                    </svg>
                                </a>
                            </li>


                            {{page_Num_HTML}}

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_down}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-right-bold"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_count}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-double-right"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    <form action="" method="get">
                        <div class="input-group mb-3">
                            <input type="text" name="page" class="form-control " placeholder="" value="">
                            <button class="btn btn-secondary  px-1" type="submit">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-juli"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    {%endblock%}