
{%extends 'tplt_init_bootstrap.html'%}
{%load static%}

{%block bodyContent %}

<style>
    /* 去除body的滚动条 */
    body {   
        overflow-y: hidden;
    }
    /* 火狐浏览器 滚动条设置 */
    #ml {
        overflow:scroll;
        /* overflow-x: hidden; */  /*在隐藏x滚动条会导致超出部份因无法滚动而看不到*/
        scrollbar-width: thin;
        scrollbar-color: #0dcaf0 rgb(6, 6, 6);
    }
    /* 谷歌浏览器 滚动条设置 */
    ::-webkit-scrollbar {
        width: 10px; /* 设置滚动条宽度 */
        background-color: rgb(255, 255, 255); /* 设置滚动条背景色 */
    }
    ::-webkit-scrollbar-thumb {
        background-color: #0dcaf0; /* 设置滚动条按钮背景色 */
    }
    /* 火狐滚动条自定义设置 */
</style>

<style>
    /*设置表格高度 占满屏幕高度*/
    #ml { 
        height: 95vh;
    }
</style>

<style>
    table td{
    word-break: break-all;        /*允许在字内换行,即单词可分*/
    word-wrap:break-word;         /*允许长单词或URL地址换行*/ 
    font:500 16px Arial;
}
</style>

<style>
    table {
        table-layout: fixed;      /*去除表格自适应列宽 默认列 等宽*/
    }
    td {
        overflow: hidden;         /*超出隐藏*/
        white-space: nowrap;      /*不换行*/
        text-overflow: ellipsis;  /*超出文字使用...替代*/
    }
</style>

<!-- <style>
    /*设置列宽*/
    #t1>thead>tr>th:nth-child(-n+2) {  /*前2排*/
        width: 60px;
    }
    #t1>thead>tr>th:nth-child(3) {     /*第3列*/
        width: 300px;
    }
    #t1>thead>tr>th:nth-child(4) {     /*第4列*/
        width: 150px;
    }
    /*第5列到第6列*/
    #t1>thead>tr>th:nth-child(n+5):nth-child(-n+6) {  
        width: 100px;
    }
    #t1>thead>tr>th:nth-child(8) {
        width: 105px;
    }
</style> -->
    <title>Music List</title>
    <div class="container">
        <div id="log" class="position-fixed bottom-0 start-50 translate-middle-x shadow rounded mb-5">
            <a href="/lifelog/log/">
              <button type="button" class="btn btn-outline-primary">搜索</button>
            </a>
          </div>
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-12">
                <div><h1 class="h1 bg-black m-0  text-info text-center w-100 p-2">音乐信息列表</h1></div>
                <div id="ml" class="table-responsive-md col custom-table-width" >
                    <table id="t1" class="table table-hover table-bordered table-striped">  
                        <caption class="caption-top  bg-info m-0  text-light text-center w-100">Favor Music</caption>
                        <thead  class="table-dark">
                            <tr>
                                <th scope="col" class="text-nowrap">编辑</th>
                                <th scope="col" class="text-nowrap">序列号</th>
                                <th scope="col" >歌名</th>
                                <th scope="col" >歌手</th>
                                <th scope="col" >标签</th>
                                <th scope="col" >专辑</th>
                                <th scope="col" >添加时间</th>
                                <th scope="col" class="text-nowrap">native_id</th>
                            </tr>
                        </thead>  
                        {% for item  in musicobj %}
                        <tr class="table">
                            <td class="table-info"><a class="text-decoration-none" href="/music/list/edit/{{item.global_id}}/">修改</a></td>
                            <td class="table-info" >{{ forloop.revcounter }}</td>
                            <td>{{ item.song      }}</td>
                            <td>{{ item.songer    }}</td>
                            <td>{{ item.tag       }}</td>
                            <td>{{ item.album     }}</td>
                            <td>{{ item.addtime   }}</td>
                            <td class="">{{ item.native_id }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>            

            </div>
            <!-- <div class="col-md-1"></div> -->

        </div>
    </div>


    {% endblock %}