{% extends 'tplt_init_bootstrap.html'%}
{% load static %}
{% block css %}

<style>
    a {
        text-decoration: none
    }

    #formAdd>.row>div:nth-last-child(1) {
        width: 100%;
    }
</style>
{% endblock%}

{%block js%}
<script type="text/javascript">
    $(function () {
        bindBtnAddEvent();
    })

    function bindBtnAddEvent() {
        $("#btnAdd").click(function () {
            // 修改内容之后，重置错误提示
            $(".error-status-false").empty()

            $.ajax({
                url: '/task/add/',
                type: "post",
                data: $("#formAdd").serialize(),
                dataType: "JSON",    // 将接收到的字符串类型的JSON数据 转换成 JSON数据类型
                success: function (res) {
                    // console.log(res);
                    // console.log(res.status);
                    if (res.status) {
                        alert("添加成功")
                    } else {
                        // alert("添加失败")
                        $.each(res.errors, function (name, error) {
                            // console.log(name, error)
                            $("#id_" + name).next().text(error[0]);
                        })
                    }
                }
            })
        })
    }
</script>
{%endblock%}


<!-- #body内容 -->
{%block bodyContent%}
<title>admin</title>
<!-- Navbar -->
{% include "tplt_navbar.html" %}

<div class="container">
    <div class="row">
        <form action="" id="formAdd">
            <div class="row">
                {% for field in form %}
                <div class="col-6">
                    <div class="form-group" style="position: relative; margin-top: 20px;">
                        <label for="">{{field.label}}</label>
                        {{field}}
                        <span class="error-status-false" style="position: absolute; color: rgb(250, 45, 45);"></span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="button" form="form_add" id="btnAdd" class="btn btn-primary mt-4">Submit</button>
        </form>
    </div>
</div>

<div class="container">
    <!-- 新建与搜索框 -->
    <div class="row pt-4">
        <div class="col-md-9">
            <button type="button" class="btn btn-primary"><a class="text-white"
                    href="/task/add/">{{form_title}}</a></button>

        </div>
        <div class="col-md-3">
            <!-- 搜索框 -->
            <form action="" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="s" class="form-control" placeholder="Search" value="{{search_data}}">
                    <button class="btn btn-primary" type="submit">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- 内容  -->
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">任务标题</th>
                    <th scope="col">负责人</th>
                    <th scope="col">紧急程度</th>
                    <th scope="col">重要程度</th>
                    <th scope="col">详细内容</th>
                </tr>
            </thead>
            <tbody>
                {% for item in queryset%}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <th scope="row">{{ item.title }}</th>
                    <td>{{ item.user }}</td>
                    <td>{{ item.urgency }}</td>
                    <td>{{ item.importance }}</td>
                    <td>{{ item.detail }}</td>

                    <td>
                        <a href="/task/edit/{{item.id}}/"><span class="badge bg-primary mx-1">Edit</span></a>
                        <a href="/task/del/{{item.id}}/"> <span class="badge bg-warning text-dark mx-1">Del</span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10">
                    <nav class="d-flex justify-content-end">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    {% comment %} <span aria-hidden="true">&laquo;</span> {% endcomment %}
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-double-left"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_up}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-left-bold"></use>
                                    </svg>
                                </a>
                            </li>


                            {{page_Num_HTML}}

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_down}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-right-bold"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{page_count}}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-arrow-double-right"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    <form action="" method="get">
                        <div class="input-group mb-3">
                            <input type="text" name="page" class="form-control " placeholder="" value="">
                            <button class="btn btn-secondary  px-1" type="submit">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-juli"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}