<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Navbar Transparent -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/index/">Index</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/lifelog/">Lifelog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/lifelog/v2/">Lifelog V2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/music/list/">MusicList</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/task/">Task</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/">manager</a>
                            </li>
                            <li class="nav-item dropdown btn-group">
                                <button type="button" class="btn  btn-sm">
                                    <a href="/chart/list/">Chart</a>
                                </button>
                                <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-expanded="false">

                                <!-- 下方<span> 元素包含了文本 “Toggle Dropdown”，这个文本可以被屏幕阅读器读取，使得
                                    用户知道这个按钮的作用是展开/收起下拉菜单。同时，visually-hidden 类也确保了这个文
                                    本内容不会在屏幕上显示，只有在被读取时才会被展示。这种做法可以提高页面的可访问性，
                                    使得所有用户都可以方便地使用这个下拉菜单。 -->
                                <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                            
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">图表</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider m-0 h-0"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <!-- <a class="nav-link disabled">Disabled</a> -->
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto">
                            <div class="dropdown dropstart">
                                <button class="btn  btn-white  mb-0 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{request.session.info.username}}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
                                    <li><a class="dropdown-item" href="#">占位</a></li>
                                    <li><a class="dropdown-item" href="#">占位</a></li>
                                    <li><hr class="dropdown-divider m-0 h-0"></li>
                                    <li><a class="dropdown-item text-danger" href="/logout/">Logout</a></li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>