{% load static %}
<!-- Navbar Transparent -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark  static-top p-0" id="navbar" >
    <div class="container" >
        <!-- 左侧图标 -->
        <a href="/">
            <img  class="mx-2" width="32" height="32" src="{% static 'img/site_logo_small.svg' %}" alt="">
        </a>
        <!-- 小屏出现的下拉按钮 -->
        <button class="navbar-toggler collapsed " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-xiala2"></use>
            </svg>            
        </button>

        <div class="collapse navbar-collapse show" id="navbarSupportedContent">
            <!-- 靠左边内容 -->
            <ul class="vfx1 navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'blog:lifelog' %}">
                        Lifelog
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'demo:index' %}">
                        Demo
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/music/list/">
                    MusicList
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/">
                    Admin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task/">Task</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- End Navbar -->

