{% load static %}

<script src="https://cdn.jsdelivr.net/npm/vditor@3.8.12/dist/index.css"></script>

<div id="vditor"></div>
<textarea {{ final_attrs|safe }} style="display: none">{{ value }}</textarea>


<script src="https://b3log.org/vditor/vditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vditor@3.8.12/dist/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vditor@3.8.12/dist/js/i18n/zh_CN.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vcmt@1.3.1/dist/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vditor@3.8.12/dist/js/lute/lute.min.js"></script>

<script type="text/javascript">
    const vditor = new Vditor("vditor", {
        width: '{{ config.width|safe }}',
        height: {{ config.height }},
        lang: '{{ config.lang|safe }}',
        typewriterMode: '{{ config.typewriterMode|safe }}',
        mode: '{{ config.mode|safe }}',
        debugger: '{{ config.debugger|safe }}',
        cache: {
            enable: false,
        },
        value: "{{value|safe}}",
        theme: '{{ config.theme }}',
        icon: '{{ config.icon|safe }}',
        outline: '{{config.outline }}',
        // cdn: '/static/',
        preview: {  
            // 预览(渲染)主题
            theme: {
                current: '{{ config.preview_theme|safe }}',
                path: '/static/vditor/css/content-theme',
                markdown: {
                    toc: true
                }
            },
        },

        // upload: {
        //     url: '/media/vditor/uploads/',
        //     linkToImgUrl: '/media/vditor/uploads/',
        //     accept: '.jpg,.png,.gif,.jpeg',
        //     filename(name) {
        //         return name.replace(/\?|\\|\/|:|\||<|>|\*|\[|\]|\s+/g, '-')
        //     },
        // },
        upload: {
            accept: 'image/*,.mp3, .wav, .rar',
            token: 'test',
            url: '/mdeditor/uploads/',
            linkToImgUrl: '/media/mdeditor/uploads/',
            filename(name) {
                return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').
                    replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').
                    replace('/\\s/g', '')
            },
        },
        input(md) {
            document.getElementById('id_content').value = md
        },
    })
    //clear cache
    vditor.clearCache();
    // vditor.setTheme(document.getElementById('theme').value,
    // document.getElementById('contentTheme').value,
    // document.getElementById('codeTheme').value)
</script>